@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
Rose Gold: #bd8c7d
Soft Gold: #d1bfa7
Gold: #d4af37
Silver: #8e8e90
Onyx: #49494b 
*/

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root {
  margin: 0;
  height: 100%;
}

body,
input, 
select, 
button,
textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: header;
  background: #49494b;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #bd8c7d;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background: #49494b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}


/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div, 
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 2rem;
}

.button {
  padding: 1rem;
  border: 0.1rem solid #8e8e90;
  background: #F0C151;
  cursor: pointer;
}

.button:hover {
  background: #e2b13c;
  border: 0.1rem solid #808080;
}

.button .primary {
  background: #F0C151;
}


/* FILTER  */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid #bd8c7d;
}

.filter div {
  flex: 1;

}