@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
Rose Gold: #bd8c7d
Soft Gold: #d1bfa7
Silver: #8e8e90
Onyx: #49494b 
*/

html {
  font-size: 62.5%;
  box-sizing: border-box
}

body, 
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body,
input, 
select, 
textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: header;
  color: #8e8e90;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #8e8e90;
  text-decoration: none;
}

a:hover {
  color: #bd8c7d;
}

main {
  grid-area: main;
  background-color: #8e8e90;
}

footer {
  grid-area: footer;
  
  color: #8e8e90;

  /* center  */
  display: flex;
  justify-content: center;
  align-items: center;
}